$default-h1-font-size: 22px;
$h1-font-color: white;
$link-color: #227dee;
body {
  padding: 25px;
  background-color: black;
}
h2 {
  font-size: 18px;
  color: white;
  text-align: center;
  font-weight: 400;
}
h1 {
  font-size: $default-h1-font-size;
  text-align: center;
  color: $h1-font-color;
}
.typed-effect {
  text-align: center;
}
.typed-cursor{
  opacity: 1; // Used with animation `blink`
  background-color: $h1-font-color;
  display: inline-block;
  position: relative;
  width: $default-h1-font-size*.5;
  height: $default-h1-font-size;
  top: $default-h1-font-size*.2;
  margin-left: 1px;
  -webkit-animation: blink 1.2s infinite;
  -moz-animation: blink 1.2s infinite;
  animation: blink 1.2s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
p {
  text-align: center;
}
.resource {
  color: $link-color;
  text-transform: uppercase;
  text-decoration: none;
}